body {
    font-size: 18px;
    text-align: center;
}

h1 {
    color: rgb(105, 8, 41);
}

h2 {
    font-weight: bolder;
    color: rgb(167, 15, 4);
}

p {
    background-color: rgb(187, 220, 233);
}

blockquote {
    font-style: italic;
    text-transform: unset;
    text-align: left;
    border: 2px solid black;
}

.blackquote,
li {
    text-align: left;
}

span {
    text-decoration: underline;
    font-weight: bolder;
}